.Container {
    margin-top: 1em;
    margin-bottom: 1em;
}

.MarginTop16 {
    margin-top: 1em;
}

.MarginRight16 {
    margin-right: 1em !important;
}

.FormContainer {
    display: flex;
    margin-top: 1em;
    cursor: pointer;
}

.EventCard:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 10px 10px #00000038;
}

.EventCardDetailsContainer {
    display: flex;
    flex-direction: column;
}

.EventCardDetailsContent {
    flex: 1 0 auto;
}

.EventCardImage {
    min-width: 30%;
    object-fit: cover;
}

.EventCardTitle {
    font-weight: bold;
    font-size: 24px;
    margin-left: 1em;
}

.EventCardDescription {
    margin-left: .5em;
}

.RemovePrize {
    display: flex;
    cursor: pointer;
}